%p= @restaurant.name
%p= @restaurant.description
= link_to "Review #{@restaurant.name}", new_restaurant_review_path(@restaurant)

  -if @restaurant.reviews.any?
    -@restaurant.reviews.each do |rev|
    %h3 Review Thoughts
    %p= rev.thoughts
    %h4 Review Rating
    %p= rev.rating
