<!DOCTYPE html>
<html>
<head>
  <title>YelpClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "main" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <header>
    <% if user_signed_in? %>
      <a class="btn btn-default"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></a>
    <% else %>
      <a class="btn btn-default" href="<%=new_user_session_path%>">Sign in</a>
      <a class="btn btn-default" href="<%=new_user_registration_path%>">Sign up</a>
      <a class="btn btn-default" href="<%=user_omniauth_authorize_path(:facebook) %>">Sign in with Facebook</a>
    <% end %>
  </header>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

    <%= yield %>
</body>
</html>
